.nav {
  position: relative;
  top: 50px;
  right: -18%;
  margin: -20px;
  overflow: hidden;
}

.navbar-right-list {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  width: 7%;
  font-size: 11px;
  text-transform: uppercase;
  list-style: none;
}

.nav a {
  line-height: 100%;
  color: rgb(55, 55, 55);
  text-decoration: none;
}

li a:hover {
  color: #e3a357;
}

li a:active {
  color: #fff;
}

.stimulus-menu {
  position: relative;
  right: 250px;
  font-size: large;
  font-weight: 600;
  text-shadow: 1px 1px 2px #fff;
  letter-spacing: 1px;
}

@media (max-width: 820px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    overflow: visible;
  }

  .nav ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 20px;
  }

  .nav li {
    display: none;
    margin: 0;
  }

  .nav .current {
    display: block;
  }

  .nav a {
    display: block;
    padding: 10px 5px 15px 15px;
    text-align: left;
  }

  .nav .current-link a {
    color: #666;
    background: none;
  }

  .nav ul:hover {
    display: block;
    background-color: #fff;
  }

  .nav ul:hover li {
    display: block;
    width: 100%;
    background-color: #fff;
  }

  .stimulus-menu {
    right: 0;
    padding-top: 100px;
    background: #fff url(/html_3/images/icon-menu.png) no-repeat 97% 10px;
  }
}
