@import "/html_3/styles/menu.css";
@import "/html_3/styles/progress-bar.css";
@import "/html_3/common.blocks/texts-block.css";
@import "/html_3/common.blocks/row-blocks.css";
@import "/html_3/common.blocks/button.css";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: unset;
}

a,
.fa {
  text-decoration: none;
}

a:visited {
  color: unset;
}

/* first row flex */

.double-row {
  min-width: 400px;
}

/* second row flex */

/* about block */

/* skill block */

.progress-list {
  color: #232b2b;
  display: flex;
  flex-direction: column;
}

.progress-text {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-text p {
  font-weight: 700;
  letter-spacing: 0;
  font-size: 14px;
  height: 35px;
}

/* fifth row */
.icon-text-line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.text-line {
  padding-left: 50px;
}

/* contact form  */
.contact-form .form-control {
  box-shadow: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 25px;
  background: transparent;
  border-style: none none solid;
  border-image: initial;
  border-bottom: 1px solid rgb(227, 174, 87);
  border-radius: 0;
  width: 100%;
}

.form-control::placeholder {
  color: #fff;
}


/* footer  */
.footer-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}
