<p-card>
  <h3>Available Risks:</h3>
</p-card>
<p-card [style]="{ height: '60px' }">
  <div class="button-block">
    <span>Sort by: </span>
    <button
      pButton
      type="button"
      label="Impact Time"
      class="ui-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Probability"
      class="ui-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Name"
      class="ui-button-secondary"
    ></button>
  </div>
</p-card>
