.button {
  display: block;
  width: 150px;
  padding: 10px 0 10px 0;
  margin-top: 40px;
  font-size: 10px;
  font-weight: 700;
  color: #232b2b;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  border-radius: 200px;
}

.button--with-border {
  border: 2px solid #232b2b;
}

.button:hover {
  background-color: #e3ae57;
}

.button:active {
  border: 2px solid red;
}
