.menu-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 820px;
  width: 740px;
  background-color: #f0e2d7;
}

nav,
.round-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 37px 70px 0 70px;
}

.button {
  flex-grow: 1;
  border: none;
  outline: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button--menu {
  color: #6d5e57;
  font-size: 14px;
}

.button:hover {
  color: #e8bb66;
}

.round-button {
  align-self: start;
  padding: 250px 40px;
}

.button--round {
  border: 3px solid #242e26;
  font-weight: bold;
  border-radius: 100px;
  padding: 14px 35px 14px 35px;
  color: #242e26;
  font-size: 13px;
}
