/* h1 block  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 42px;
  padding-bottom: 14px;
  margin-bottom: 0;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 0;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #666;
}

strong {
  color: #232b2b;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
}

small {
  letter-spacing: 0;
  font-size: 17px;
  font-weight: bold;
  color: #633;
}

.text-w {
  color: #fff;
}

.text-black {
  color: #888 !important;
}

.text-gold {
  color: #e3ae57;
}

.text-bronze {
  color: #886d1e;
}

.h1--dark {
  color: #232b2b;
}

.h1--white {
  color: #fff;
}

/* p block  */

.p--dark {
  color: #888;
}

.p--white {
  color: #fff;
}

.p--gold {
  color: #e3ae57;
}

.line-high {
  line-height: 30px;
}
