<nav>
  <p-card [style]="{ width: '100%' }">
    <div class="main-page--header">
      <h2>Risk Application</h2>
      <div class="button--block">
        <button
          *ngIf="isMainPage"
          pButton
          type="button"
          label="Manage Risk"
          (click)="onManagePage()"
        ></button>
        <button
          *ngIf="!isMainPage"
          pButton
          type="button"
          label="Main page"
          (click)="onMainPage()"
        ></button>
        <button
          pButton
          type="button"
          label="Logout"
          (click)="onLogout()"
        ></button>
        <h2>{{ userName }}</h2>
      </div>
    </div>
  </p-card>
</nav>
<router-outlet></router-outlet>
