.main-page--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button--block {
  display: flex;
  height: 35px;
  width: 250px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
