.main-page--header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.button--block {
  display: flex;
  height: 35px;
  width: 350px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.user--image {
  border-radius: 50%;
  border: 1px solid rgb(83, 83, 83);
}

.user--image:hover {
  cursor: pointer;
}
