{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
  ],
  "rules": {
    "order/properties-order": [
      "position",
      "z-index",
      "top",
      "right",
      "bottom",
      "left",
    ],
  },
}
