<p-card>
  <h3>Available Risks:</h3>
</p-card>
<p-card [style]="{ height: '60px' }">
  <div class="button-block">
    <span>Sort by: </span>
    <button
      pButton
      type="button"
      label="Impact Time"
      (click)="sort('time')"
      class="ui-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Probability"
      (click)="sort('probability')"
      class="ui-button-secondary"
    ></button>
    <button
      pButton
      type="button"
      label="Name"
      (click)="sort('name')"
      class="ui-button-secondary"
    ></button>
  </div>
</p-card>

<p-card class="sort-panel">
  <p-scrollPanel [style]="{ height: '300px' }">
    <p-card
      class="risks--list"
      *ngFor="let item of risks"
      (click)="sendMessage(item)"
    >
      <div [class.selected]="item === selectedRisk">
        {{ item.riskName }} | {{ item.time }} hrs | {{ item.prob }}%
      </div>
    </p-card>
  </p-scrollPanel>
</p-card>
